<h1>Welcome to NaturEscape</h1>

<h3> Where are you trying to escape? </h3><br>

<%= form_tag("/location", method: "get") do %>
  <%= select_tag 'state', options_for_select(States.states_list) %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag("/search", method: "get") do %>
  <%= hidden_field_tag(:q) %>
  <%= submit_tag("Search By Current") %>
<% end %>
